@model dynamic

@{
    ViewBag.Title = "title";
    Layout = "View.cshtml";
}

<h2>title</h2>
<form method="post" action="">
<input id="LastText" type="text" placeholder="введите фамилию" name="LastName"/>
<input id="Button1" type="submit" value="button" />
</form>