<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="ServerName" value="localhost"/>
    <add key="DatabaseName" value="Dispensary13102017"/>
  </appSettings>
  <connectionStrings>
    <add name="SOPB.PatientAccounting" connectionString="" providerName="System.Data.SqlClient"/>
  </connectionStrings>
</configuration>